{% if not error %}

    {% if object %}

        <div class="infos">
            <p><a target="_blank" href="https://www.facebook.com/{{ object.id }}/">{{ object.name }}</a> <span class="light">({{ objectType }})</span></p>
        </div>

        <hr>

        {% switch objectType %}

            {% case "page" %}

                <p>
                    <strong>{{ insights.values|last.value }}</strong><br />
                    <span class="light">Total likes</span>
                </p>

                <p>
                    <strong>{{ weekTotal }}</strong><br />
                    <span class="light">Likes this week</span>
                </p>

            {% case "domain" %}

                <p>
                    <strong>{{ insights.values|last.value }}</strong><br />
                    <span class="light">Total Clicks</span>
                </p>

                <p>
                    <strong>{{ weekTotal }}</strong><br />
                    <span class="light">Clicks this week</span>
                </p>

        {% endswitch %}

    {% else %}
        <p class="light">{{ "Facebook is not configured."|t }} <a href="{{ url('facebook/settings') }}">{{ "Edit plugin settings"|t }}</a>.</p>
    {% endif %}

{% else %}
    <p class="light">{{ "Only Facebook pages are supported, please provide a different ID."|t }}</p>

{% endif %}