{% import "_includes/forms" as forms %}
{% extends "_layouts/cp" %}

{% set title = "Facebook"|t %}
{% set content %}


    {% set response = craft.facebook.get('/me/accounts') %}

    {% set accounts = response.getGraphEdge() %}

    {% for account in accounts %}
        <h2>{{ account.name }}</h2>

        {% set conversationsResponse = craft.facebook.get('/'~account.id~'/conversations', null, account.access_token) %}

        {% set conversations = conversationsResponse.getGraphEdge() %}


        <table class="data fullwidth">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for conversation in conversations %}
                    <tr>
                        <td>{{ conversation.property('updated_time')|date }}</td>
                        <td>{{ conversation.property('snippet') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>

    {% endfor %}


{% endset %}
